.ipynb_checkpoints/
*.ipynb
cell_*.py
cell_*.txt
*.~*~
logs/
tb/
fb/
tensorboard/
tensor-board/
bl?b*
notes
git_export.*
snakes.dump*.txt
snakes.log*.txt
snakes.capture.*.png
snakes.stream.*.rgb
__pycache__
profile_default
